.checkout{
    display: flex;
    width: 98vw;
}

.checkout__productList{
    flex: 0.8;
    height: 100vh;
    margin: 5%;
}

.checkout__productList > p{
    font-size: 1.5rem;
    font-weight: 600;
    margin-left: 5%;
}

.checkout__total{
    display: flex;
    flex-direction: column;
    margin: 5% 3%;
    flex: 0.4;
    border: 3px solid grey;
    height: 105px;
    border-radius: 5px;
}

.total__description{
    font-size: 0.9rem;
    color: grey;
    font-weight: 100;
}

.payment__button{
    height: inherit;
    border: none;
    background-color: #4481eb;
    color: white;
}

.payment__button:hover{
    cursor: pointer;
}

@media (max-width: 870px){

    .checkout__total{
        height: 120px;
    }
}

@media (max-width: 570px){
    .checkout{
        flex-direction: column-reverse;
    }

    .checkout__total{
        width: 60%;
        height: 30px;
        margin: 5% auto;
    }
}