.home__page{
    display: flex;
    width: 100%;
    align-items: flex-start;
    overflow-x: hidden;
}


.filter__section{
    flex:0.15;
    height: inherit;
    padding-left: 5%;
    padding-top: 1.5%;
    margin-right: 2%;
}

.filter__header{
    width: 75%;
    font-size: 1.3rem !important;
    color: rgb(134, 134, 134) !important;
    margin-bottom: 15%;
}


.product__section{
    flex:0.9;
    border-left: 2px solid rgb(134, 134, 134);
    display: grid;
    grid-template-columns: repeat(3, 30%);
    gap: 10px;
}

.radio__group{
    width: 30%;
    margin-bottom: 5%;
}


/*Responsive design*/
@media (max-width: 870px){
    .radio__group{
        width: 40%;
        margin-bottom: 5%;
    }

    .product__section{
        grid-template-columns: repeat(2, 45%);
        column-gap: 5%;
    }
}


@media (max-width: 570px){
    .radio__group{
        width: 40%;
        margin-bottom: 5%;
    }

    .product__section{
        grid-template-columns: 90%;
        column-gap: 5%;
    }
}


@media (max-width: 376px){
    .filter__section{
        flex: 0.1;
        padding: 2%;
    }

    .filter__header{
        font-size: 1.2rem !important;
        margin-bottom: 5%;
    }

    .radio__group{
        width: 35%;
        margin-bottom: 8%;
    }

    .product__section{
        grid-template-columns: repeat(1, 75%);
    }
}


@media (max-width: 280px){
    .filter__section{
        display: none;
        flex: 0.1;
        padding: 1%;
    }

    .radio__group{
        width: 30%;
        margin-bottom: 8%;
    }

    .product__section{
        grid-template-columns: repeat(1, 60%);
    }
}