*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, input{
    font-family: 'Poppins', sans-serif;
}

.login-page{
    position: relative;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}

.triangle{
    background-color: #04befe;
    height: 100vh;
    width: 100%;
    border-bottom: 100vh solid #fff;
    border-left: 100vw solid #04befe;
}