// breakpoints
$break-point-xxl: 1400px; // extra large screen
$break-point-xl: 1200px; // large screen
$break-point-lg: 992px; // desktop
$break-point-md: 768px; //tablet
$break-point-sm: 576px; // mini tablet
$break-point-xs: 375px; // phone

// colors
$theme-color: #4481eb;
$primary: #5995fd;
$skyblue: #04befe;

//image
$HomepageBanner: "Productly(2000x900).png";
