@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Proza+Libre&display=swap");
@import "../../css-styling/variable.scss";

.card {
  .forgotpassword-card-head {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5px;

    .card-header {
      font-weight: 500;
    }
  }
  .forgotpassword {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .forgot-password-text {
      text-align: center;
      font-family: Poppins, sans-serif;
      color: rgba(110, 108, 108, 0.806);
    }

    .forgotpassword-form {
      flex-direction: column;
      margin-top: 20px;
      width: 88%;
      text-align: center;

      .MuiFormControl-root {
        width: inherit;
      }
    }
  }
}

@media screen and (max-width: $break-point-xxl) {
  .card {
    width: 35% !important;
  }
}

@media screen and (max-width: $break-point-xl) {
  .card {
    width: 38% !important;
  }
}

@media screen and (max-width: $break-point-lg) {
  .card {
    width: 45% !important;
  }
}

@media screen and (max-width: $break-point-md) {
  .card {
    width: 55% !important;
  }
}

@media screen and (max-width: $break-point-sm) {
  .card {
    width: 85% !important;
  }
}

@media screen and (max-width: $break-point-xs) {
  .card {
    width: 95% !important;

    .forgotpassword-form {
      width: 95% !important;
    }
  }
}
